.col {
  margin: 20px 0;
  background-size: cover;
  // &.side {
  //   display: flex;
  //   text-align: right;
  //   width: calc(25% - 50px);
  //   padding: 20px;
  //   text-decoration: none;
  //   &:hover {
  //     transition: all 0.2s;
  //   }
  //   div {
  //     margin-left: auto;
  //     margin-top: auto;
  //     .h3 {
  //       font-size: 42px;
  //       color: #363636;
  //       margin: 0;
  //       @media (max-width: 768px) {
  //         font-size: 28px;
  //       }
  //       @media (max-width: 455px) {
  //         font-size: 22px;
  //       }
  //     }
  //     .h4 {
  //       margin: 0;
  //       font-size: 30px;
  //       color: #fff2fc;
  //       @media (max-width: 768px) {
  //         font-size: 22px;
  //       }
  //       @media (max-width: 455px) {
  //         font-size: 18px;
  //       }
  //     }
  //   }
  //   @media (max-width: 1024px) {
  //     width: calc(50% - 60px);
  //     min-height: 300px;
  //   }
  //   @media (max-width: 455px) {
  //     padding: 10px;
  //     margin: 10px;
  //     width: calc(50% - 25px);
  //     &:first-child {
  //       margin-right: auto;
  //       margin-left: 0;
  //     }
  //     &:last-child {
  //       margin-left: auto;
  //       margin-right: 0;
  //     }
  //   }
  // }
  &.center {
    width: calc(50% - 30px);
    background: rgb(255, 199, 237);
    background: linear-gradient(
      90deg,
      rgba(255, 199, 237, 1) 0%,
      rgba(160, 255, 253, 1) 100%
    );
    > * {
      width: 50%;
      @media (max-width: 1024px) {
        width: auto;
      }
    }
    ul {
      padding-left: 60px;
      font-size: 36px;
      color: #e0479f;
      li {
        a {
          transition: all 0.2s;
          text-decoration: none;
          color: inherit;
          &:hover {
            color: #f15db4;
            &::selection {
              color: #e0479f;
            }
            &::-moz-selection {
              color: #e0479f;
            }
          }
          &::selection {
            color: #550f2abb;
          }
          &::-moz-selection {
            color: #550f2abb;
          }
        }
      }

      @media (max-width: 1024px) {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        padding: 0;
        li {
          margin: 0 10px;
          display: flex;
          a {
            font-size: 0.7em;
          }
        }
      }
    }
    div {
      margin: 20px;
      text-align: center;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    + .side {
      text-align: left;
      div {
        margin-left: 0;
      }
    }
    @media (max-width: 1024px) {
      margin-top: 0;
      order: 2;
      width: 100%;
    }
    @media (max-width: 455px) {
      width: 100%;
      margin: 0 0 10px;
    }
    ///TEMPORARY
    margin: 20px auto;
    width: 100%;
  }
}
