/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Impact';
  src: url('../fonts/ImpactRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ImpactRegular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ImpactRegular.otf') format('opentype'),
    /* Open Type Font */ url('../fonts/ImpactRegular.svg') format('svg'),
    /* Legacy iOS */ url('../fonts/ImpactRegular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/ImpactRegular.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap&subset=cyrillic');

* {
  font-family: 'Impact';
}

.d-flex {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
}
.container {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
  &-fluid {
    max-width: none;
    margin: auto;
    padding: 0 20px;
  }
}
