.textOnly:not(.halfScreenBlock) {
  p.h4 {
    font-family: 'Lobster', cursive;
  }
  @media (max-width: 1024px) {
    p {
      font-size: 1em;
      &.h4 {
        font-size: 2em;
        margin: 0;
      }
    }
  }
  @media (max-width: 455px) {
    p.h4 {
      margin-top: 60px;
    }
  }
}
.halfScreenBlock {
  &.mobileView {
    order: 1;
    width: 100vw;
    background-position-y: top;
    &.textOnly {
      padding: 0 10px;
      width: calc(100vw - 20px);
    }
  }
  background-repeat: no-repeat;
  color: #333;
  width: 50vw;
  height: calc(100vh - 7vw);
  display: flex;
  background-size: cover;
  background-position-y: center;
  justify-content: flex-end;
  transition: background-position-x 0.5s, opacity 1s;
  @media (max-width: 455px) {
    height: 70vh;
  }
  &:first-child {
    background-position-x: 100%;
  }
  &:last-child {
    background-position-x: 0;
  }
  p {
    @media (max-width: 1024px) {
      font-size: 1em;
    }
    &.h3 {
      color: #fff;
      font-family: 'Lobster', cursive;
      align-self: flex-end;
      padding: 0;
      margin: 0;
      font-size: 70px;
      font-weight: 700;
      padding: 0 5px 10px;
      @media (max-width: 768px) {
        font-size: 2em;
      }
    }
  }
  & + .halfScreenBlock {
    justify-content: flex-start;
    p.h3 {
      color: inherit;
    }
  }
  &.product {
    position: sticky;
  }
  &.textOnly {
    flex-direction: column;
    padding: 0 7rem;
    height: 100%;
    .h4 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      @media (max-width: 1024px) {
        font-size: 1.5em;
      }
      margin: 0;
      &.header {
        margin-top: 30px;
      }
    }
    .h6 {
      font-family: 'Lobster';
      margin: 0;
    }
    .price_form {
      font-size: 22px;
      display: block;
      margin: 20px 0;
    }
    .attributes {
      margin-top: 0;
      margin-bottom: 20px;
      span {
        display: block;
        &.grouped {
          margin-top: 20px;
          display: flex;
          span {
            cursor: pointer;
            margin-right: 10px;
            &.chosen {
              color: #e0479f;
            }
            &.colorItem {
              width: 30px;
              height: 30px;
              border-radius: 30px;
              transition: all 0.2s;
              &:hover {
                transform: scale(1.1);
              }
              &.chosen:before {
                content: url('../../images/chosen.svg');
                display: block;
                margin-top: -13px;
                margin-left: 10px;
              }
              &.white {
                border: solid 1px #efefef;
                &.chosen:before {
                  content: url('../../images/chosen_white.svg');
                }
              }
            }
          }
        }
        &.small {
          font-size: 0.6em;
          cursor: pointer;
          margin-top: -10px;
        }
      }
    }
  }
}

.order_directions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
  }
  p {
    margin: 0 20px;
    line-height: 1;
  }
}

.uploader_block {
  margin: 20px 0;
  > p {
    margin-top: 0;
  }
  .file_upload {
    display: flex;
    .text_wrapper {
      margin-left: 20px;
    }
    p {
      font-size: 0.7em;
      line-height: 1;
    }
  }
}
.order_form {
  margin: 20px 0;
}

.constructor_form {
  display: flex;
  flex-direction: column;
  .main_image {
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    > img {
      visibility: hidden;
    }
  }
  .draggable {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
  .constructor_types {
    display: flex;
    justify-content: space-evenly;
    .card {
      max-width: 25%;
      img {
        max-width: 100%;
      }
    }
  }
}

.mobileView {
  &.mainScreen-appear.mainScreen-appear-active {
    .halfScreenBlock {
      &:first-child {
        background-position-x: 100%;
      }
      &:last-child {
        background-position-x: 50vw;
      }
    }
  }
  &.mainScreen-appear {
    background-position-x: -200%;
    opacity: 0.5;
  }
}
