.halfScreenBlock {
  &.mobileView {
    order: 1;
    width: 100vw;
    background-position: top;
    &.textOnly {
      padding: 0 10px;
      width: calc(100vw - 20px);
    }
  }
  color: #333;
  width: 50vw;
  height: calc(100vh - 7vw);
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  @media (max-width: 455px) {
    height: 70vh;
  }
  p.h3 {
    color: #fff;
    font-family: 'Lobster', cursive;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    padding: 0 5px 10px;
    @media (max-width: 768px) {
      font-size: 42px;
    }
    @media (max-width: 455px) {
      font-size: 30px;
    }
  }
  & + .halfScreenBlock {
    justify-content: flex-start;
    p.h3 {
      color: inherit;
    }
  }
  &.product {
    position: sticky;
  }
  &.textOnly {
    flex-direction: column;
    padding: 0 7rem;
    height: 100%;
    @media (max-width: 768px) {
      font-size: 42px;
    }
    @media (max-width: 455px) {
      font-size: 12px;
    }
    .h4 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      @media (max-width: 455px) {
        font-size: 36px;
      }
      margin: 0;
      &.header {
        margin-top: 30px;
      }
    }
    .attributes {
      margin-top: 0;
      span {
        display: block;
        &.grouped {
          margin-top: 20px;
          display: flex;
          span {
            cursor: pointer;
            margin-right: 10px;
            &.chosen {
              color: #e0479f;
            }
            &.colorItem {
              width: 20px;
              height: 20px;
              border-radius: 20px;
              border: solid 1px #ccc;
            }
          }
        }
        &.small {
          font-size: 0.6em;
          cursor: pointer;
          margin-top: -10px;
        }
      }
    }
    .ordering {
      display: flex;
      justify-content: space-between;
      button {
        background: #ffc7ed;
        background: linear-gradient(90deg, #ffc7ed 0%, #a0fffd 100%);
        border: none;
        color: #e0479f;
        padding: 20px;
        cursor: pointer;
      }
    }
  }
}
