.lightBoxBG {
  background-color: #1e0c1acc;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  // display: none;
  // opacity: 0;
  // transition: all 0.2s;
  // &.shown {
  //   display: block;
  //   opacity: 1;
  // }
  .lightBoxWrap {
    display: flex;
    // max-width: 800px;
    margin: 100px auto auto;
    // background-color: #fff;
    z-index: 10;
    position: relative;
    justify-content: center;
    .lightBoxContent {
      position: relative;
      max-width: 90vw;
      img {
        max-height: calc(100vh - 150px);
        max-width: 90vw;
      }
      @media (max-width: 1024px) {
        margin: 20px;
        max-width: none;
        img {
          max-width: calc(100vw - 20px);
        }
      }
      .attributes {
        transition: all 0.5s;
        padding: 10px 20px 30px;
        position: absolute;
        background: rgba(0, 0, 0, 0.726);
        color: #fff;
        opacity: 0;
        left: auto;
        bottom: 5px;
        max-width: inherit;
        min-width: calc(100% - 40px);
        p {
          font-size: 1.5em;
        }
        p + p {
          font-size: 1.2em;
        }
        @media (max-width: 768px) {
          padding: 10px 10px 15px;
          p {
            font-size: 1.2em;
            margin: 0;
          }
          p + p {
            font-size: 1em;
          }
        }
        &.withAtts {
          opacity: 1;
        }
      }
    }
  }
}

.LightBox-appear,
.LightBox-leave {
  opacity: 0.01;
  transition: opacity 0.5s ease-out;
}
.LightBox-appear.LightBox-appear-active {
  opacity: 1;
}
