.book_card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .card_image {
    margin-top: 20px;
    margin-right: 20px;
    @media (max-width: 768px) {
      img {
        max-width: 80vw;
      }
    }
  }
  .card_details {
    p:not(.h3) {
      @media (max-width: 768px) {
        font-size: 0.7em;
      }
      padding-bottom: 10px;
    }
    a {
      cursor: pointer;
      padding: 10px;
      background: #ffc7ed;
      background: linear-gradient(90deg, #a0fffd, #ffc7ed, #a0fffd);
      color: #e0479f;
      transition: all 1s;
      @media (max-width: 768px) {
        font-size: 0.8em;
      }
      &:hover {
        transition: all 1s;
        background-position: 50px;
        color: #922162;
      }
    }
  }
}

// .card {
//   &:last-child {
//     margin-right: auto;
//   }
//   max-width: calc(33.33% - 20px);
//   padding: 10px;
//   @media (max-width: 768px) {
//     max-width: calc(50% - 20px);
//   }
//   @media (max-width: 455px) {
//     max-width: calc(50% - 5px);
//     padding: 0 0 20px;
//   }
//   a {
//     text-decoration: none;
//     color: inherit;
//     &:hover {
//       .card_image {
//         img {
//           transform: rotate(2deg) scale(1.1);
//         }
//       }
//     }
//     .card_attributes {
//       display: flex;
//       justify-content: space-between;
//       p {
//         font-family: 'Nunito', sans-serif;
//         @media (max-width: 455px) {
//           margin: 5px;
//         }
//       }
//     }
//     .card_image {
//       overflow: hidden;
//       img {
//         transition: all 0.5s;
//         max-width: 100%;
//       }
//     }
//   }
// }
