ul.catalog-menu {
  display: flex;
  li a {
    font-family: 'Nunito', sans-serif;
    padding-right: 30px;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #363636;
    }
  }
}
